---
import Hero from '../components/Hero'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-[#111]">
		<Hero />
		<div class="bg-white">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quidem vel aperiam consectetur odit. Cupiditate odit accusantium libero exercitationem, iste modi ut rem omnis nobis non, excepturi, obcaecati quam doloribus.
				Dicta tenetur magni praesentium dolor quis facilis vitae magnam? Laborum expedita inventore facilis repellat consequatur officiis necessitatibus commodi sit exercitationem provident laudantium adipisci eligendi, cumque reprehenderit! Nulla cum dignissimos amet.
				Reprehenderit facilis, ab voluptatum totam excepturi culpa eveniet ad a inventore, consectetur maxime enim aspernatur nihil aut sint nam porro pariatur sapiente aliquam iure! Non sunt fugit facere exercitationem. Eaque?
				Doloribus, iusto? Possimus quasi corporis dicta, nobis libero atque fugiat, in ex dolorem nostrum exercitationem deleniti consequuntur doloremque iusto aut, soluta enim doloribus aspernatur! Doloremque provident ullam consectetur nam autem?
				Possimus quidem quo praesentium reprehenderit dicta repudiandae fugiat accusantium vel commodi eveniet vitae illo officiis autem, saepe eum cum provident asperiores minus. Molestiae sapiente esse inventore, similique mollitia perferendis molestias.
				In vero qui modi, possimus saepe ducimus voluptatibus, eius, similique sunt corporis earum quaerat dicta laborum adipisci placeat non ut consequuntur soluta facere quidem at minima! Architecto corporis provident reiciendis?
				Repellendus incidunt, rerum quas laboriosam veritatis eos dicta unde veniam neque voluptatum nostrum corrupti praesentium minus voluptate quis itaque, assumenda vero sequi facilis ea et autem? Odit, minima vitae. Reiciendis.
				Magnam ullam et quo aperiam adipisci hic fugiat rem, sit, pariatur accusantium quibusdam doloribus natus praesentium nemo veniam! Sit tenetur labore dolor nostrum, at magnam aspernatur deleniti corporis nulla sequi.
				Vero, libero nulla repudiandae ut id iusto soluta eaque ratione illum voluptates tempore recusandae saepe minima odit, hic est, magnam quisquam repellendus labore explicabo atque cumque similique? Suscipit, molestiae consectetur.
				Fugiat magni labore saepe, repellat ducimus minus blanditiis repudiandae commodi asperiores totam quo, voluptates dolore error amet, modi facere beatae. Laboriosam optio est natus aliquam voluptate repellendus esse. Itaque, eius?
			</p>
		</div>
	</body>
</html>
