---
import Header from '../components/Header'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-[#111]">
		<Header />
		<div class="flex items-center justify-center relative">
			<img class="w-2/3" src="website-builder.svg" />
			<h1 class="absolute top-8 text-white text-9xl">Coming soon...</h1>
		</div>
	</body>
</html>
