---
import heroImage from '@assets/hero.png';
import { Picture } from "astro:assets";
import { MapPin } from 'lucide-react';

import { Button } from './ui/button';
---

<section id="hero">
  <div class="grid grid-cols-12 gap-4 py-10 lg:py-0 lg:pt-40 lg:pb-20">
    <div class="col-span-12 lg:col-span-8 space-y-4">
      <h1 class="text-5xl font-bold">Olá, Eu sou o Leonardo!</h1>
      <p>Eu sou um Engenheiro de Software, tenho 6 anos de experiência como Desenvolvedor Front-end. Tive a oportunidade de orientar e guiar alguns desenvolvedores ao longo da minha carreira e de colaborar com vários outros em diversos projetos utilizando diferentes tecnologias.</p>

      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
            <MapPin />

            <span>Santos - SP, Brasil</span>
        </div>

        <div class="flex items-center gap-4">
          <span class="size-4 bg-lime-400 rounded-full animate-pulse"/>

          <span>Disponível para novos projetos</span>
        </div>
      </div>

      <Button variant="secondary">Entre em contato</Button>
    </div>
    <div class="hidden lg:block lg:col-span-4">
      <Picture 
        src={heroImage}
        alt="Astronaut in the air"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
  </div>
</section>