---
import { ViewTransitions } from 'astro:transitions';

import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';

const { language } = Astro.props

import '@styles/global.css';
---

<html lang={language} transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <title>oelopes</title>
    
    <ViewTransitions />
  </head>

  <body>
      <Navbar />
      <slot />
      <Footer />
  </body>
</html>